:root {
    --cor-fundo: #000;
    --cor-texto-principal: #fff;
    --cor-rosa-claro: #FFD1DC;
    --cor-rosa-choque: #FF69B4;
    --cor-vermelho-escuro: #941010;
    --cor-cinza-hover: #ccc;
    --fonte-principal: 'Permanent Marker', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    color: var(--cor-texto-principal);
    text-align: center;
    -webkit-text-stroke: 0.8px var(--cor-fundo);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/historia-de-amor-entre-chorao-e-grazon-vai-virar-filme-saiba-tudo (1).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('img/historia-de-amor-entre-chorao-e-grazon-vai-virar-filme-saiba-tudo\ \(1).jpg');
}

.header {
    font-size: 3rem;
    color: var(--cor-texto-principal);
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    -webkit-text-stroke: 1px var(--cor-fundo);
}

p strong {
    font-size: 40px;
}

h2 {
    font-size: 3.25rem;
    color: var(--cor-texto-principal);
    margin-top: 0.625rem;
    -webkit-text-stroke: 1.5px var(--cor-fundo);
}

.mensagem {
    font-size: 1.50rem;
    font-style: italic;
    color: var(--cor-texto-principal);
    max-width: 600px;
    margin: 1.875rem auto 0.625rem;
    line-height: 1.6;
    -webkit-text-stroke: 1.5px var(--cor-fundo);
}

.heart {
    font-size: 6.25rem;
    animation: pulse 2.5s infinite;
    -webkit-text-stroke: 2px var(--cor-fundo);
}

.mensagemEspecial,
.mensagemTempo,
.declaracaoamor {
    display: none;
    border-top: 1px solid var(--cor-texto-principal);
    margin: 1.25rem auto 0;
    font-size: 1.3rem;
    border-radius: 20px;
    color: var(--cor-texto-principal);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 900px;
    line-height: 2;
    -webkit-text-stroke: 1px black;
    animation: fadeIn 1s ease-out;
}

.botoes {
    display: flex;
    align-items: center;
    padding: auto;
    margin-top: 1.875rem;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin: 0.5rem;
    padding: 0.85rem 1.75rem;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    background-color: var(--cor-texto-principal);
    color: var(--cor-fundo);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    -webkit-text-stroke: 0.3px var(--cor-fundo);
}

button:hover {
    background-color: var(--cor-cinza-hover);
    transform: scale(1.05);
}


#carouselExampleIndicators {
    max-width: 400px;
    margin: 40px auto;
    border-radius: 45px;
    overflow: hidden;
}

.carousel-item {
    height: 550px;
    width: 100%;
    background-color: #000;
    transition: transform 1.s ease-in-out;
}

.carousel-item img {
    height: auto;
    width: auto;
    object-fit: cover;
    object-position: center;
}


.carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 8px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.carousel-indicators .active {
    background-color: #000000;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    border-top: 1px solid var(--cor-texto-principal);
}

footer h4 {
    font-size: 1.5rem;
    color: var(--cor-texto-principal);
    max-width: 800px;
    margin: 0 auto 20px;
    -webkit-text-stroke: 1;
}

footer p {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    max-width: 800px;
    color: var(--cor-texto-principal);
    -webkit-text-stroke: 1px black;
}


@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
